body{
  background-color: black;
  color:beige
}
button{
  height: 3rem;
  width: 8rem;
  padding: 10px 10px;
  margin: 5px;
}
h1{
  background-color: gray;
  width:fit-content;
  font-size: 100px;
  padding: 10px 80px;
  border-radius: 5px;
  margin: 10px;
}